
/* Color palette
    3e362e dark gray
    865d36 coffee
    93785b mud
    ac8968 cream
    a69080 stone
*/
body {
    background-color: #ac8968;
    padding-top: 100px;
    transition: padding-top 0.5s ease;
    /* background-image: url(../pictures/papyrus.png); */
    background-repeat: repeat;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

header {
    text-align: center;
    overflow: hidden;
}

nav {
    height: 50px;
    background-color: #3e362ecc;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

nav > ul {
    list-style: none;
}

h1 {
    font-family: "Abril FatFace", serif;
    font-weight: lighter;
    color: #3e362e;
    border: 1px solid;
    padding: 10px;
    text-decoration: underline;
    margin: 10px;
}

h2 {
    border: 1px solid;
    padding: 5px;
    margin: 10px;
}

p {
    color: #000000;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: square;
}

ol {
    list-style: hiragana, inside;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexitem {
    background: #0bd;
    color: antiquewhite;
    margin: 20px 10px;
    padding: 20px 150px;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
    border: 1px dashed;
}

.griditem {
    background: #0bd;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
    border: 1px dotted;
}

@media (max-width: 600px) {
    .gridcontainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .griditem {
        background-color: blueviolet;
    }
}