
/* Color palette
    3e362e dark gray
    865d36 coffee
    93785b mud
    ac8968 cream
    a69080 stone
*/
body {
    background-color: #ac8968;
    color: #202020;
    transition: padding-top 0.5s ease;
    background-image: url(../pictures/inspiration-geometry.png);
    background-repeat: repeat;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

header {
    text-align: center;
    overflow: hidden;
}

nav {
    background-color: #3e362ecc;
    color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    text-align: center;
    overflow: auto;
    white-space: nowrap;
}

nav li a, nav li a:visited, nav li a:link {
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(56, 56, 145);
}

.active_navtab {
    background-color: #a69080cc;
}

nav a:hover {
    background-color: #3e362e;
    color: white;
    text-decoration: underline;
    transition: .1s ease;
}

nav a:active {
    background-color: #3e362eea;
}

#page_header h1 {
    border: 1px solid;
    text-decoration: underline;
    font-size: 2rem;
}

h1 {
    font-family: "Abril FatFace", serif;
    font-weight: lighter;
    color: #3e362e;
    padding: 10px;
    margin: 10px;
}

h2 {
    font-family: "Abril FatFace", serif;
    font-weight: lighter;
    color: #865d36;
    padding: 5px;
    margin: 10px;
}

ol {
    list-style: hiragana, inside;
}

ul.social_icons {
    list-style: none;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexitem {
    background: #0bd;
    color: antiquewhite;
    margin: 20px 10px;
    padding: 20px 150px;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
    border: 1px dashed;
}

.griditem {
    background: #0bd;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
    border: 1px dotted;
}

#pandemie_img {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .gridcontainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .griditem {
        background-color: blueviolet;
    }
}